
body{
  background-color: aquamarine;
  
}
.rating-color {
  color: #fbc634 !important;
}

.small-ratings i {
  color: #cecece;
}

.review-stat {
  font-size: 18px;
}
.subtotal{
  border-top: lightgray 1px solid;
  }
.product-img{
  padding: 3%;
}


header {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute; top: 0;
  position: sticky;
  z-index: 999;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

nav,footer{
   background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur( 4  px ); 
  -webkit-backdrop-filter: blur( 8px );
  -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.75); 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

header .row{
  padding: 5px 15%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cardcss{
  margin-top: 15%;
  margin-bottom: 2%;
  
}

  
@media screen and (max-width: 1000px) {
  .cardcss {
    margin-top: 15%;
  }
}


